@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    

    <div class="booking-form">
        <label for="">Full Name</label>
        <input type="text" class="form-control" placeholder="Enter your Full Name">
        <label for="">Phone Number</label>
        <input type="text" class="form-control" placeholder="Enter your Phone Number">
        <!-- <div class="input"> -->
        <div class="options">
            <label> Select Size</label>
            <select class="size">
                <option value="">Choose one</option>
                <option value="">400cm*250cm(All)</option>
                <option value="">50cm*50cm</option>
                <option value="">100cm*150cm</option>
                <option value="">200cm*100cm</option>
            </select>
        </div>
        <!-- <select class="customer-select">
            <option value="1">400cm*250cm(All)</option>
            <option value="2">50cm*50cm</option>
            <option value="3">100cm*150cm</option>
            <option value="4">200cm*100cm</option> -->
        <div class="input">
            <label>From</label>
            <input type="date" class="form-control select-date">
        </div>

        <div class="input">
            <label>To</label>
            <input type="date" class="form-control select-date">

        </div>

        <div class="inputt">
            <button onclick="window.location.href='payment.html'" type="button" class="btn btn-primary store">Pay</button>
        </div>
    </div>
