@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>
    Connect with ease! Our platform links available rooms to entrepreneurs
    seeking store space. List your room or find your perfect store location effortlessly.
    Unlock shared opportunities for property owners and business dreamers. Join us today!
</p>